
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/App_Start/StyleSheet.css" />
</head>
<body>
    <div> 

        @Html.Raw((String)ViewBag.printer)

    </div>
</body>
</html>
